<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hot Finds</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Hot Finds On Craigslist</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Find Awesome Deals</a></p>
    </div>

    <!-- Craigslist Listings -->
    <div class="row" id="craiglist-listings">
      <div class="col-md-12">
        <h4 class="heading">{{listings.price}} {{listings.headline}}</h4>
        <small>{{listings.hood}}</small>
      </div>
    </div>

  </div>
</body>

</html>

